.top img{
    width: 18%;
    height: auto;
    padding: 5px;
}

body{
    background-color: rgb(240, 255, 240);
}

.info{
    margin-top: 40px;
}

h2{
    margin-bottom: 30px;
}

img{
    max-width: 70%;
    padding-top: 60px;
}

p{
    font-weight: 700;
}

span{
    font-weight: normal;
}

.green-button{
    background-color: rgb(33, 181, 115);
    width: 160px;
    height: 40px;
    color: white;
    border-radius: 20px;
    border: none;
}

.searchBox{
    margin-top: 60px;
}

.pageSelector{
    margin-top: 70px;
}

.pageSelector img {
    width: 25%;
    height: auto;
    padding-top: 30px;
}

.profile img{
    padding-top: 0px;
    max-width: 35%;
    margin-left: 300px;
}